# Git bundles
*.bundle

overlays/
target/
.sonar/
.sonar_lock

# binary files
*.class
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# dumps from OpenJ9
jitdump.*.dmp
core.*.dmp
javacore.*.txt
Snap.*.trc

# IntelliJ IDEA
*.iml
**/.idea/artifacts/
**/.idea/codeStyles/
**/.idea/dictionaries/
**/.idea/kotlinc.xml
**/.idea/jarRepositories.xml
**/.idea/libraries/
**/.idea/markdown-navigator.xml
**/.idea/markdown-navigator/
**/.idea/runConfigurations.xml
**/.idea/saveactions_settings.xml
**/.idea/sonarlint.xml
**/.idea/sonarlint/
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/.idea/workspace.xml
**/.idea/workspace.xml.tmp
